*{
  box-sizing: border-box;
}

ul {
  margin: 5%;
  padding: 0;
  list-style: none;
}

li{
  display: inline-block;
  margin-left: 100px;
}

div::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #B0DCF8;
  align-content: center;
}


body {
  font-family: Helvetica, Arial, sans-serif;
}



.date-time{
  display: inline-block;
  max-width: 20%;
  text-align: right;
  vertical-align: top;
}


a {
  vertical-align: top;
  background-color: #3B95CB;
  border: 8px solid #B0DCF8;
  border-radius: 100%;
  font-size: : 10px;
  display: inline block;
}

h1 {
  color: #BED1E4;
  font-size: 15px;
  font-weight: lighter;
  margin: 0;
}

h2 {
  color: #70C0EE;
  font-size: 40px;
  font-weight: lighter;
  margin: 0;
}

.boxes {
  display: inline-block;
  border-radius: 5px;
  max-width: 60%;
  padding: 3%;
  padding-top: 1%;
  margin-bottom: 20px;
  margin-left: 20px;
}

.boxes::before{
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-right-color: #3B95CB;
  position: relative;
  left: -8%;

}
section{
  background: #70C0EE;
  display: inline-block;
}

li:nth-child(even) section{
  background: #3B95CB;
}

h3 {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 30px;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 12px;
  margin: 0;
}

p {
  color: #FFFFFF;
  font-size: 20px;
}

@media screen and (max-width: 800px){
  .box {
    width: 45%;
    margin-right: 10%;
  }
}
